﻿ActionBar {
    color: #dc842e;
    background-color: #f3ce5c;
}

StackLayout {
    background-color: #949596;
}

TextField {
    border-width: 2;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    font-size: 25%;
    text-align: center;    
    background-color: transparent;
}

Button {
    border-width: 2;
    border-style: solid;    
}

.fondo-logo {
    background-color: #ffffff;
    width: 100%;;
}

.logo {
    width: 40%;
    margin: 5% 0;
}

.fondo-title-window {
    background-color: #f3ce5c;
}
.title-window-sep {
    width: 20%;
}

.title-window {
    font-size: 25%;    
    padding: 18% 0;
    color: #dc842e;
    text-align: center;
    width: 60%;    
}

.label-soporte {
    font-size: 25%;
    text-align: center;
    color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
}