.label-login {
    font-size: 25%;
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.logo-volver {
    width: 10%;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 15%;
}

.volver {
    border-width: 2;
    border-style: solid;
    border-color: #f3ce5c;
    color: #f3ce5c;
    width: 42%;
    font-size: 20%;
    text-align: center;
    margin-top: 15%;
}

.td {
	border-width: 1;
	border-style: solid;
	border-color: #ffffff;
	width: 50%;
	text-align: center;
	padding: 10% 0;
}

.height-scroll {
	height: 75%;
}