.botones-soporte {
	border-color: #ffffff;
	color: #ffffff;
	font-size: 15%;	
	width: 60%;
	height: 10%;
	margin-bottom: 5%;
	background-color: transparent;
	background-position: 5% 50%;
	background-repeat: no-repeat;
	background-size: 10% 40%;
}

.soporte-logo {
	background-image: url("~/images/soporte.png");
}

.ticket-logo {
	background-image: url("~/images/ticket.png");
}

.cambiar-comercio {
	border-color: #f3ce5c;
    color: #f3ce5c;
    width: 40%;
    padding: 20%;
    font-size: 18%;
}